<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1 class="sidebar-about--title">Tiny Quark</h1>
      <svg class="quarker" viewBox="0 0 566 515" preserveAspectRatio="xMinYMax meet"><use xlink:href="#quark-large"></use></svg>

      <h1>
        <a href="{{ site.url }}">
          {{ site.meta.title }}
        </a>
      </h1>
      <p class="lead">{{ site.meta.description }}</p>
    </div>

    <nav class="sidebar-nav">
          {% for page in site.pages %}
    <a href="{{ page.url }}" class="sidebar-nav-item">{{ page.title }}</a>
    {% endfor %}
    </nav>
  </div>
</div>
